<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict/>
	<key>EmergencyLocation</key>
	<string>Required to accurately record a precise GPS coordinate when setting an assembly point for a drill or emergency plan.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>APSServiceEnvironment</key>
	<string>development</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
